{% extends "base_template.html" %}

{% block title %}Tutorial Flask: Miniblog{% endblock %}

{% block content %}
    <ul>
    {% for post in posts %}
        <li>{{ post.title }}</li> <a href={{ post.title_slug }}>{{post.content}}</a>
    {% endfor %}
    </ul>
{% endblock %}